mixin homeBody(lang, values)
	#top
		nav.nav.display-flex
			h1.title(itemprop="name") #{values.header.title}
			+langSelector(lang)
	header#header.fontFamily-antonio
		.phone.position-absolute-center.fontFamily-sourceSans 24h &#9743; #[span(itemprop="telephone") 607 86 90 46]
		.sub.position-absolute-center
			span.big #{values.header.big}
			br
			span.small.fontFamily-sourceSans #{values.header.small}
	#body.fontFamily-sourceSans 
		#why.marginVertical-50
			h2.textAlign-center #{values.why.title}.#[span.color-light Taxi]?
			p #{values.why.body[0]} #[br] #{values.why.body[1]} #[br] #{values.why.body[2]}
		#services.marginTop-50
			#services-taxi.third.first
				img(src="/images/service-sotogrande.jpg", width=320, height=190, alt="#{values.profes.alt}")
				h2 #{values.profes.title}
				p #{values.profes.body}					
			#services-golf.third
				img(src="/images/service-golf-transfers.jpg", width=320, height=190, alt="#{values.golf.alt}")
				h2 #{values.golf.title}
				p #{values.golf.body}
			#services-chauffeur.third.last
				img(src="/images/service-chauffeur.jpg", width=320, height=190, alt="#{values.chofer.alt}")
				h2 #{values.chofer.title}
				p #{values.chofer.body}
				
mixin langSelector(lang)
	.lang-selector
		if lang == 'es'
			span.lang-link.active ES
			a.lang-link.marginLeft-20px(href="/en/") EN
		else
			a.lang-link(href="/") ES
			span.lang-link.active.marginLeft-20px EN
